:root {
    /* todo: clamp the value / media query for mobile */
    --cell-size: 30px;
}

.tetris {
    display: flex;
    justify-content: center;
}

.tetris .mainColumn, .supportColumn {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tetris .mainColumn {
    justify-content: space-evenly;
    min-height: 80vh;
}

.tetris .supportColumn {
    justify-content: flex-start;
    justify-content: space-between;
    padding-left: 30px;
    height: calc(20 * var(--cell-size));;
    width: 30%;
    max-width: calc(12 * var(--cell-size));
    overflow-y: visible;
}

.tetris .supportColumn fieldset {
    display: flex;
    justify-content: center;
    border: solid var(--a-color);
    border-radius: 5px;
    width: 80%;
}


.tetris .supportColumn fieldset * {
    padding: 10px;
}

.tetris .supportColumn fieldset legend {
    padding: 0px 10px;
}

.tetris .supportColumn fieldset td {
    padding: 0;
    text-align: center;
}

.tetris button {
    align-self: center;
}

.tetris .grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: calc(20 * var(--cell-size));
    width: calc(12 * var(--cell-size));
    border: solid var(--a-color);
    border-radius: 5px;
}

.tetris .score {
    width: 80%;
    text-align: right;
    font-size: 2rem;
}

.tetris .preview {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: calc(4 * var(--cell-size));
    width: calc(4 * var(--cell-size));

    /* removes the gap between lines / columns */
    align-content: center;
    justify-content: center;
}

.tetris .preview * {
    padding: 0 !important;
}

.tetris .tile {
    background-color: var(--square-color);
    height: calc(var(--cell-size) - 2px);
    width: calc(var(--cell-size) - 2px);

    border: solid 1px transparent;
}

.tetris .preview .tile.empty {
    border-color: transparent;
    background-color: transparent;
}

.tetris .break {
    width: 100%;
}

.tetris .I {
    background-color: #01F0F1;
}

.tetris .L {
    background-color: #EFA000;
}

.tetris .J {
    background-color: #0001F0;
}

.tetris .S {
    background-color: #00F000;
}

.tetris .Z {
    background-color: #F10100;
}

.tetris .T {
    background-color: #A100F2;
}

.tetris .O {
    background-color: #F0F001;
}
