:root {
    /* todo: clamp the value / media query for mobile */
    --cell-size: 30px;
}

/* Mobile only */
@media only screen and (max-width: 969px) {
    :root {
        --cell-size: 4vw;
    }
}

.tetris {
    display: flex;
    justify-content: center;
}

.tetris .mainColumn, .supportColumn {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tetris .mainColumn {
    min-height: 80vh;
    max-height: 90vh;
}

.tetris .supportColumn {
    justify-content: flex-start;
    padding-top: 18px;
    padding-left: 30px;
    height: calc(22 * var(--cell-size));;
    width: calc(10 * var(--cell-size)); /* ma ovviamente è qui il problema lol */
    overflow-y: visible;
}

.tetris .supportColumn fieldset {
    display: flex;
    justify-content: center;
    border: solid var(--a-color);
    border-radius: 5px;
    width: 80%;
}


.tetris .supportColumn fieldset * {
    padding: 10px;
}

.tetris .supportColumn fieldset legend {
    padding: 0px 10px;
}

.tetris .supportColumn fieldset td {
    padding: 0;
    text-align: center;
}

.tetris button {
    align-self: center;
}

.tetris .grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: calc(22 * var(--cell-size));
    width: calc(10 * var(--cell-size));
    border: solid var(--a-color);
    border-radius: 5px;
    position: relative;
    background-color: var(--square-color);
}

.tetris .score {
    width: 80%;
    text-align: right;
    font-size: 2rem;
}

.tetris .preview {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: calc(4 * var(--cell-size));
    width: calc(4 * var(--cell-size));

    /* removes the gap between lines / columns */
    align-content: center;
    justify-content: center;
}

.tetris .preview * {
    padding: 0 !important;
}

.tetris .level {
    flex-direction: column;
    align-items: center;
}

.tetris progress {
    padding: 0 !important;
    width: 100%;
}

.tetris progress[value]::-webkit-progress-value {
    -webkit-transition : width .5s ease;
    -moz-transition : width .5s ease;
    -o-transition : width .5s ease;
    transition : width .5s ease;
}

.tetris .panel {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--header-background);
    color: var(--a-color);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    text-align : center;
}

.tetris .tile {
    height: var(--cell-size);
    width: var(--cell-size);
}

.tetris .preview .tile.empty {
    border-color: transparent;
    background-color: transparent;
}

.tetris .break {
    width: 100%;
}

.tetris .I {
    background-color: #01F0F1;
    box-shadow: inset -3px -3px #00807F,
        inset 3px 3px #51FFFF;
}

.tetris .L {
    background-color: #EFA000;
    box-shadow: inset -3px -3px #785000,
        inset 3px 3px #FFB050;
}

.tetris .J {
    background-color: #0001F0;
    box-shadow: inset -3px -3px #000080,
        inset 3px 3px #5052FF;
}

.tetris .S {
    background-color: #00F000;
    box-shadow: inset -3px -3px #008000,
        inset 3px 3px #50FF50;
}

.tetris .Z {
    background-color: #F10100;
    box-shadow: inset -3px -3px #810000,
        inset 3px 3px #FF5250;
}

.tetris .T {
    background-color: #A100F2;
    box-shadow: inset -3px -3px #510081,
        inset 3px 3px #B051FF;
}

.tetris .O {
    background-color: #F0F001;
    box-shadow: inset -3px -3px #808000,
        inset 3px 3px #FFFF51;
}
